 <h1 class='center'> New Account </h1>
<<<<<<< HEAD
  <%= form_for :user, :html => {:class => "form-horizontal"}, url: users_path do |f| %>
=======
  <%= form_for :user, :html => {:class => "form-horizontal"}, url: create_user_path do |f| %>
>>>>>>> 95dbed5798bc54af5e000c2c92aa113a27a79b99
    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    
     <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :password_digest, "Password:" %>
      <%= f.password_field :password_digest, class: "form-control" %>
    </div>
    
    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;padding-bottom:40px;">
      <%= f.label :password_confirmation, "Confirm Password:" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :street_address, "Street Address:" %>
      <%= f.text_field :street_address, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :city, "City:" %>
      <%= f.text_field :city, class: "form-control" %>
    </div>    

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :zip_code, "Zip Code:" %>
      <%= f.text_field :zip_code, class: "form-control" %>
    </div>   

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;padding-bottom:40px;">
      <%= f.label :state, "State:" %>
      <%= f.collection_select :state, 
                          stateList, 
                          :to_s, :to_s, :include_blank => true, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :phone_number, "Phone Number:" %>
      <%= f.text_field :phone_number, class: "form-control" %>
    </div>
    
    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :website, "Website:" %>
      <%= f.text_field :website, class: "form-control" %>
    </div>
    
    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :avatar, "Picture:" %>
      <%= f.file_field :avatar, class: "form-control" %>
    </div>
    
    <%= f.submit "Submit", class: "btn btn-info btn-circle btn-xl", style:"width:30%;display:table;
   margin:0 auto" %>
  <% end %>
