<h1> Welcome to the create a new account page! </h1> 

<%= form_for :user, url: '/users' do |f| %>

<ul>
  <li> Name: <%= f.text_field :name %> </li>
  <li> Email: <%= f.text_field :email %> </li>
  <li> Password: <%= f.password_field :password %> </li>
  <li> Password Confirmation: <%= f.password_field :password_confirmation %> </li>
  <li> Style Of Food: <%= f.text_field :food_type %> </li>
  <li> Address: <%= f.text_field :address %> </li>
  <li> Phone Number: <%= f.text_field :phone_number %> </li>
  <li> Hours: <%= f.text_field :hours %> </li>
  <li> Delivery? <%= f.text_field :delivery %> </li>
</ul>
  <%= f.submit "Submit" %>
<% end %>
