<h1 class='center'> List of Local Deals </h1>


<div class = "form-group" style="width:75%;margin-left: auto;margin-right: auto;">
	<b><center>Filter your results:</center></b><br>
      <%= form_tag('/timeline/load_deals', :method => :get) do %>
      <div class='center_row'>
        <div class='column'>
          <b>Address:</b>
          <%= text_field_tag :street_address, nil,
                             value: Geocoder.search( Rails.cache.fetch( 'lat' ) + ',' + Rails.cache.fetch( 'lng' ) )[ 0 ]
                                                    .data[ "formatted_address" ],
                             size: 40 %>
          <br><b>Coordinates:</b>
          <%= text_field_tag :lat_lng, nil,
                             value: Rails.cache.fetch( 'lat' ) + ',' + Rails.cache.fetch( 'lng' ),
                             size: 36 %>
        </div>
        <div class='column'>
          <b>Distance (Miles):</b>
          <%= select_tag :distance_from_address, options_for_select( Deal::DISTANCES ) %>
          <br><b>Deal Type:</b>
          <%= select_tag :deal_type, options_for_select( Deal::DEAL_TYPES ) %>
          <br><b>Food Type:</b>
          <%= select_tag :food_type, options_for_select( Deal::FOOD_TYPES ) %>
        </div>
      </div>
        <p class="center"><%= submit_tag "Search" %><br><%= link_to "Reset", reset_deals_path %></p>
	<%end%>
  
</div>
<div class = 'column'>
Total Deals: <%=Deal.all.count %> <br>
Deals Being Displayed: <%=@valid_deals_count%>
</div>

<br><br>
<div style="width:80%;margin-left: auto;margin-right: auto;">
<table class = "table">
	<tr> 
      <th> Food Name </th> 
      <th> Description </th>
      <th> Location </th>
      <th> Deal Type </th>
      <th> Start Time </th>
      <th> End Time </th>
      <th> Food Type </th>
    </tr>
	<% @deals_within_proximity.each do |deal| %>
	      <tr>
	        <td> <%= deal.food_name %> </td>
	        <td> <%= deal.description %></td>
	        <td> <%= deal.address %></td>
	        <td> <%= deal.deal_type %></td>
	        <td> <%= deal.start_time.strftime("%B %d, %Y at %I:%M%p %Z") %> </td>
	        <td> <%= deal.end_time.strftime("%B %d, %Y at %I:%M%p %Z") %> </td>
	        <td> <%= deal.food_type %></td>
	      </tr>
	    <% end %>
</table>	    

</div>