<%= image_tag "IslaVistaFoodFinderTimelineView.png", class: "style_logo" %>

<%= form_tag('/timeline/load_deals', :method => :get) do %>
  <div class="form-group", style="width:35%;margin-left: auto;margin-right: auto;padding-top: 80px">
    <b>Address:</b>
    <% lat_lng_present = Rails.cache.fetch( 'lat' ).present? & Rails.cache.fetch( 'lng' ).present? %>
    <% address_data = lat_lng_present ? Geocoder.search( Rails.cache.fetch( 'lat' ) + ',' + Rails.cache.fetch( 'lng' ) )[ 0 ].data["formatted_address"] : '' %>
    <% coord_data = lat_lng_present ? Rails.cache.fetch( 'lat' ) + ',' + Rails.cache.fetch( 'lng' ) : '' %>
    <%= text_field_tag :street_address, nil, value: address_data, size: 40 %>
  </div>
  <div class="form-group", style="width:35%;margin-left: auto;margin-right: auto;">
    <b>Distance (Miles):</b>
    <%= select_tag :distance_from_address, options_for_select( Deal::DISTANCES ) %>
  </div>
  <div class="form-group", style="width:35%;margin-left: auto;margin-right: auto;">
    <b>Food Type:</b>
    <%= select_tag :food_type, options_for_select( ['Any'] + Deal::FOOD_TYPES ) %>
  </div>
  <p class="center" style="padding-bottom:30px;"><%= submit_tag "Search" %> | <%= link_to "Reset", reset_deals_path %></p>
<%end%>

<br><br>
<div class="table-responsive" style="width:90%;margin-left: auto;margin-right: auto;">
<table class = "table">
	<tr style="background-color: #F2D34D"> 
    <th> Food Name </th> 
    <th> Location </th>
    <th> Deal Type </th>
    <th> Start Time </th>
    <th> End Time </th>
    <th> Food Type </th>
  </tr>
	<% @deals_within_proximity.each do |deal| %>
	  <tr style="background-color: #FFFFFF">
      <td> <%= deal.food_name %> </td>
      <td> <%= deal.address %></td>
      <td> <%= deal.deal_type %></td>
      <td> <%= deal.start_time.strftime("%B %d, %Y at %I:%M%p %Z") %> </td>
      <td> <%= deal.end_time.strftime("%B %d, %Y at %I:%M%p %Z") %> </td>
      <td> <%= deal.food_type %></td>
	  </tr>
	    <% end %>
</table>	  

<%= will_paginate @deals_within_proximity %>  

</div>
