 <h1 class='center'> Edit Deal </h1>
  <%= form_for :deal, :html => {:class => "form-horizontal", method: "patch"}, url: update_deal_path do |f| %>
    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :food_name, "Food Name:" %>
      <%= f.text_field :food_name, :placeholder => @deal.food_name, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, size: "25x3", :placeholder => @deal.description, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :address, "Address:" %>
      <%= f.text_area :address, size: "25x4", :placeholder => @deal.address, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :deal_type, "Deal Type:" %>
      <%= f.text_field :deal_type, :placeholder => @deal.deal_type, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :start_time, "Start Time:" %>
      <%= f.text_field :start_time, :placeholder => @deal.start_time, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :end_time, "End Time:" %>
      <%= f.text_field :end_time, :placeholder => @deal.end_time, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :food_type, "Food Type:" %>
      <%= f.collection_select :food_type, [ 'American', 'Mexican', 'Italian', 'Asian', 'French' ], 
                          :to_s, :to_s, :placeholder => @deal.food_type, class: "form-control" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-info btn-circle btn-xl", style:"width:30%;display:table;
   margin:0 auto" %>
  <% end %>
