 <h1 class='center'> New Deal </h1>
  <%= form_for :deal, :html => {:class => "form-horizontal"}, url: '/users/:id/create_deal' do |f| %>
    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :food_name, "Food Name:" %>
      <%= f.text_field :food_name, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description, size: "25x5", class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :address, "Address:" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :deal_type, "Deal Type:" %>
      <%= f.collection_select :deal_type, [ 'Free', 'Buy one Get one Free', 'Buy one Get one Half Off' ], 
                              :to_s, :to_s, :include_blank => true, class: "form-control" %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :start_time, "Start Time:" %>
      <%= f.datetime_select(:start_time, start_year: 2015, ampm: true) %>
    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :end_time, "End Time:" %>
      
      

      <%= f.datetime_select(:end_time, start_year: 2015, ampm: true) %>

    </div>

    <div class="form-group", style="width:30%;margin-left: auto;margin-right: auto;">
      <%= f.label :food_type, "Food Type:" %>
      <%= f.collection_select :food_type, [ 'American', 'Mexican', 'Italian', 'Asian', 'French' ], 
                          :to_s, :to_s, :include_blank => true, class: "form-control" %>
    </div>
    <%= f.submit "Submit", class: "btn btn-info btn-circle btn-xl", style:"width:30%;display:table;
   margin:0 auto" %>
  <% end %>
