<%= image_tag "IslaVistaFoodFinderCurrentDeals.png", class: "style_logo" %>
<div class='center' style="padding-top: 60px;">
  <b>Total Deals: <%=@deals.count%></b><br><br>
</div>
<div class="table-responsive" style="width:90%;margin-left: auto;margin-right: auto;">
  <% cache(cache_key_for_user_deal_table) do %>  
    <table class="table">
      <tr style="background-color: #F2D34D">
        <th> Food Name </th> 
        <th> Location </th>
        <th> Deal Type </th>
        <th> Start Time </th>
        <th> End Time </th>
        <th> Food Type </th>
        <th> Views </th>
        <th> Edit </th>
        <th> Delete </th>
      </tr>
      <% @deals.each do |deal| %>
        <% cache(cache_key_for_user_deal(deal))
          <tr style="background-color: #FFFFFF">
            <td> <%= deal.food_name %> </td>
            <td> <%= deal.address %></td>
            <td> <%= deal.deal_type %></td>
            <td> <%= deal.start_time.strftime("%m-%d-%Y at %I:%M%p") %> </td>
            <td> <%= deal.end_time.strftime("%m-%d-%Y at %I:%M%p") %> </td>
            <td> <%= deal.food_type %></td>
            <td> <%= deal.views %></td>
            <td> <%= link_to "Edit Deal", edit_deal_path(user_id: current_user.id, deal_id: deal.id) %> </td>
            <td> <%= link_to "Delete Deal", delete_deal_path(user_id: current_user.id, deal_id: deal.id), method: "delete" %> </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
</div>

<%= will_paginate @deals_within_proximity %> 

<br>
<p class = 'center'> <%= link_to "Add Food Deal", new_deal_path(@user) %>
  | <%= link_to "Delete All Deals", delete_all_deals_path(user_id: current_user.id), method: "delete" %>
  | <%= link_to "Edit Profile", edit_user_path(@user) %> </p>
