<h1> Current Deals </h1>
<div class="table-responsive">
  <table class="table">
    <tr> 
      <th> Food Name </th> 
      <th> Description </th>
      <th> Location </th>
      <th> Deal Type </th>
      <th> Start Time </th>
      <th> End Time </th>
      <th> Food Type </th>
      <th> Views </th>
      <th> Edit </th>
      <th> Delete </th>
    </tr>
    <% @deals.each do |deal| %>
      <tr>
        <td> <%= deal.food_name %> </td>
        <td> <%= deal.description %></td>
        <td> <%= deal.address %></td>
        <td> <%= deal.deal_type %></td>
        <td> <%= deal.start_time.strftime("%B %d, %Y at %I:%M%p %Z") %> </td>
        <td> <%= deal.end_time.strftime("%B %d, %Y at %I:%M%p %Z") %> </td>
        <td> <%= deal.food_type %></td>
        <td> <%= deal.views %></td>
        <td> <%= link_to "Edit This Deal", edit_deal_path(user_id: current_user.id, deal_id: deal.id) %> </td>
        <td> <%= link_to "Delete This Deal", delete_deal_path(user_id: current_user.id, deal_id: deal.id), method: "delete" %> </td>
      </tr>
    <% end %>
  </table>
</div>

<p class = 'center'> <%= link_to "Home", root_path %> | <%= link_to "Add Food Deal", new_deal_path(@user) %> | <%= link_to "Edit Profile", edit_user_path(@user) %> </p>
