<!DOCTYPE html>
<html>
<head>
  <title>FoodFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <link rel="stylesheet" href="assets/app.scss"> -->
  <%= stylesheet_link_tag    'app', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="bg_color">

  <div id="container">
    <div id="header">
      <%= render "layouts/header" %>
    </div>
    <%= render "layouts/flash_messages" %>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <%= render "layouts/footer" %>
    </div>
  </div>
</nav>

<body>
  <div class="container" background=grey>  
    <%= flash_messages %>
  </div>
</body>

<%= yield %>

</body>
</html>
